<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSetting>
    <Settings>
      <add key="path" value="C:\PPLR45\mail"/>
      <add key="host" value="pop.gmail.com"/>
      <add key="port" value="995"/>
      <add key="useSsl" value="true"/>
      <add key="username" value="patrakova180397@gmail.com"/>
      <add key="password" value="pass180397"/>
     </Settings>
    </appSetting>
</configuration>