<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSetting>
      <add key="path" value="C:\PPLR45\mail"/>
      <add key="host" value=""/>
      <add key="port" value="995"/>
      <add key="useSsl" value="true"/>
      <add key="username" value=""/>
      <add key="password" value=""/>
    </appSetting>
</configuration>